<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">8,252</span>
					<span class="dbox__title">Lesson Plan</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">100</span>
					<span class="dbox__title">Learning Resources</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">2502</span>
					<span class="dbox__title">Enrichment Content</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>
			</div>
		</div>
	</div>
</div>
