<div class="main">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <!--leftcontent start-->
      <div class="left col-md-8 p-0">

        <div class="row applicationpagecontent">
          <!--moduledetails start-->
          <div *ngFor="let module of modules"  class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']" [state]="{url:module.url}">
              <div class="moduledetails">
                <div class="module_number caramelbg">{{module.count}}</div>
                <div class="ml-3">
                  <div class="module_name mt-2">Module name - {{ module.title }}</div>
                  <p>{{ module.url }}</p>
                  <!-- <p>Description - Will Be Displayed Here.</p> -->
                </div>
              </div>
            </a>
          </div>
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number montecarlobg">02</div>
                <div class="ml-3">
                  <div class="module_name">Module name - REE</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number rosebudbg">03</div>
                <div class="ml-3">
                  <div class="module_name">RTI - Module</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number pinkbg">04</div>
                <div class="ml-3">
                  <div class="module_name">Architect - Module</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number tropicalbluebg">05</div>
                <div class="ml-3">
                  <div class="module_name">Estate & Conveyance</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number romanticbg">06</div>
                <div class="ml-3">
                  <div class="module_name">Lorem Ipsum</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
        </div>
      </div>
    </div>
  </div>
  <!--leftcontent end-->
  <!--rightcontent start-->
  <div class="rightcontent col-md-4 p-0">
    <app-svg></app-svg>
    <!--organizationcontent start-->
    <div class="organizationcontent">
      <div class="map">
        <img src="assets/images/mumbaiboardicon.png" alt="">
      </div>
      <div class="organizationtitle">
        <div class="digits">06</div>
        <h2>Modules of MBD Project Of MHADA Mumbai Board</h2>
      </div>
    </div>
    <!--organizationcontent end-->
  </div>
  <!--rightcontent end-->
</div>
