<div class="main">
  <div class="container-fluid" style="padding-left: 0px !important;">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <!--leftcontent start-->
      <div class="left col-md-8 p-0">

        <div class="row applicationpagecontent">
          <!--moduledetails start-->
          <div *ngFor="let module of modules; index as i"  class="col-sm-6 col-md-4 col-lg-3">

            <!-- <a [routerLink]="['/dashboard']" [state]="{url:module.url}" (click)="getSubmodules(module.type)"> -->
            <a [routerLink]="['/sub_module',i]" [state]="{url:'moduletype'}">
              <div class="moduledetails">
                  <img src="{{module.icon}}" alt="" style="width:50px; margin-left: auto;
                  margin-right: auto; align-content: center;text-align: center">
                <!-- <div class="module_number caramelbg">{{module.icon}}</div> -->
                <div class="ml-3">
                  <div class="module_name mt-2 mr-2 " >{{ module.display_name}}</div>
                  <!-- <p>{{ module.url }}</p> -->
                  <!-- <p>Description - Will Be Displayed Here.</p> -->
                </div>
              </div>
            </a>
          </div>
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number montecarlobg">02</div>
                <div class="ml-3">
                  <div class="module_name">Module name - REE</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number rosebudbg">03</div>
                <div class="ml-3">
                  <div class="module_name">RTI - Module</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number pinkbg">04</div>
                <div class="ml-3">
                  <div class="module_name">Architect - Module</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number tropicalbluebg">05</div>
                <div class="ml-3">
                  <div class="module_name">Estate & Conveyance</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
          <!--moduledetails start-->
          <!-- <div class="col-12 col-sm-12 col-md-6">
            <a [routerLink]="['/dashboard']">
              <div class="moduledetails">
                <div class="module_number romanticbg">06</div>
                <div class="ml-3">
                  <div class="module_name">Lorem Ipsum</div>
                  <p>Description - Will Be Displayed Here.</p>
                </div>
              </div>
            </a>
          </div> -->
          <!--moduledetails end-->
        </div>
      </div>
    </div>
  </div>
  <!--leftcontent end-->
  <!--rightcontent start-->
  <div class="rightcontent col-md-4 p-0">
    <app-svg></app-svg>
    <!--organizationcontent start-->
    <div class="organizationcontent">
      <div class="map">
        <img src="{{selected_board.large_icon}}" alt="">
      </div>
      <div class="organizationtitle">
        <!-- <div class="digits">{{modules!==undefined?modules.length:''}}</div> -->
        <h2>{{selected_board.description}}</h2>
      </div>
    </div>
    <!--organizationcontent end-->
  </div>
  <!--rightcontent end-->
</div>
