<div class="main">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row financialcontent">
      <!--leftcontent start-->
      <div class="left col-md-8 p-0">

        <div class="row board-cardlist progress-cards">
          <!-- leftcontent -->
          <!-- <div class="progress-cards"> -->
          <ul class="board-card-list">
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
            <li class="card">
              <span class="value newline">
                133
              </span>
              <h6 class="name">Total Number of <span class="newline">Applications</span></h6>
            </li>
          </ul>
          <!-- </div> -->
        </div>
        <!-- </div> -->
      </div>
      <!--leftcontent end-->
      <!--rightcontent start-->
      <div class="rightsection col-md-4 p-0">
        <!-- rightsection -->

        <div class="progress-chart">
          <h2 class="chart-head">lorem ipsum</h2>
          <div class="chart-diagram">

            <div id="chart_wrap">
              <div id="chart_div">

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--rightcontent end-->
      <div class="board-menu col-md-1 p-0">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="#" class="menu-item active">
              <span class="menu-link">01</span>
            </a>
          </li>
          <li class="menu-list-item">
            <a href="#" class="menu-item">
              <span class="menu-link">02</span>
            </a>
          </li>
          <li class="menu-list-item">
            <a href="#" class="menu-item">
              <span class="menu-link">03</span>
            </a>
          </li>
          <li class="menu-list-item">
            <a href="#" class="menu-item">
              <span class="menu-link">04</span>
            </a>
          </li>
          <li class="menu-list-item">
            <a href="#" class="menu-item">
              <span class="menu-link">05</span>
            </a>
          </li>
          <li class="menu-list-item">
            <a href="#" class="menu-item">
              <span class="menu-link">06</span>
            </a>
          </li>
          <!--                <li class="menu-list-item">
              <a href="#" class="menu-item ">
                <span class="menu-link">01</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">02</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">03</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">04</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">05</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">06</span>
              </a>
            </li>
                          <li class="menu-list-item">
              <a href="#" class="menu-item ">
                <span class="menu-link">01</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">02</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">03</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">04</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">05</span>
              </a>
            </li>
            <li class="menu-list-item">
              <a href="#" class="menu-item">
                <span class="menu-link">06</span>
              </a>
            </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
