*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,li{list-style: none;}
@font-face {
    font-family: 'aileronbold';
    src: url('/assets/fonts/aileron-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/aileron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aileronultralight';
    src: url('/assets/fonts/Aileron-UltraLight-webfont.eot');
    src: url('/assets/fonts/Aileron-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Aileron-UltraLight-webfont.woff2') format('woff2'),
         url('/assets/fonts/Aileron-UltraLight-webfont.woff') format('woff'),
         url('/assets/fonts/Aileron-UltraLight-webfont.ttf') format('truetype'),
         url('/assets/fonts/Aileron-UltraLight-webfont.svg#aileronultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'aileronregular';
    src: url('/assets/fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  background: #F5F6FA;
  padding: 0;
  margin: 0;
  font-family: 'aileronregular';
  font-weight: normal;
}
i.fa {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 1.42857143;
}
/***header****/
header {position: fixed;z-index: 10;top: 0;left: 0;background: #fff;width: 100%;color: #fff;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
header .logo {padding-left: 66px;display: flex;align-items: center;height: 100%;}
header #menu-action {
  display: block;
  float: left;
  width: 60px;
  height: 67px;
  line-height: 50px;
  margin-right: 0px;
  color: #000;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #menu-action i {
  display: inline-block;
  margin: 0 5px;
}
header #menu-action .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    font-size: 21px;
    color: #414141;
}
header #menu-action span {
  width: 0px;
  display: none;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #menu-action:hover {
  background: rgba(0, 0, 0, 0.25);
}
header #menu-action.active {
  width: 250px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}
header #menu-action.active span {
  display: inline;
  width: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header.active{padding-left: 105px;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.navbarleft {
    padding-left: 55px!important;

}
.sidebar {
  position: fixed;
  z-index: 14;
  left: 0;
  top: 0px;
  height: 100%;
  width: 56px;
  background: #fff;
  border-right: 1px solid #ddd;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar .icon-Group98:before {
  content: "\e902";
  -webkit-text-fill-color: #414141;
-webkit-text-stroke-color: #414141;
}
.sidebar.active,
.sidebar.hovered{
  width: 180px;
  /*-webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;*/
      transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top:100px;
}
.sidebar ul li {
  display: block;
}

.sidebar ul li a {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding:15px 0px 15px 0px;
  color: #444;
  text-align: left;
}
.sidebar ul li a i {
  float: left;
  width: 56px;
text-align: center;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 26px;color: #414141;}
.sidebar ul li a span {display: inline-block;}
.sidebar ul li.active{background-color: rgba(201, 201, 201, 0.25);}
.sidebar ul li a:hover{background-color: rgba(201, 201, 201, 0.8);}
.sidebar ul li.active {border-right: 2px solid #FF8E4C;}
.main {position: relative;display: block;top: 80px;-webkit-transition: all 0.2s ease-in;transition: all 0.5s ease;padding:30px 0px 0px 120px;}
.main ul.breacrumbs{margin:0px 0px 15px 0px;padding:0px;}
.main ul.breacrumbs li span:before{content:'.';}
.sidebar-sticky {position: -webkit-sticky;position: sticky;top: 48px;height: calc(100vh - 48px);padding-top: .5rem;overflow-x: hidden;overflow-y: auto;}
/********main******/
.heading h2{font-size:20px;color:#414141; font-family: 'aileronbold';margin-bottom:15px;line-height: 24px;}
.heading h2 span{display: block;font-size:12px;}
.main.active {padding-left:220px;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;}
.main.active header{padding-left: 220px;}
#menu-action .fa.fa-bars,#menu-action .fa.fa-close{margin: 31px 0px 0px 0px;}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}
.bs-callout {padding: 20px;margin: 20px 0;border: 1px solid #eee;border-left-width: 5px;border-radius: 3px;background: white;}
.shadow {box-shadow: 0 .15rem 1.75rem 0 rgba(0,0,0,.15)!important;}
.no-padding{padding:0px;}
.az-profile-menu {position: relative;margin-right: 15px;align-items: center;display: flex;justify-content: flex-end;}
.az-profile-menu > .az-img-user {outline: none;width: 32px;height: 32px;border-radius: 100%;background:#F0F0F0;text-align: center;}
.az-img-user img {width: 100%;height: 100%;object-fit: cover;border-radius: 100%;}
.az-img-user {display: block;position: relative;width: 40px;height: 40px;border-radius: 100%;background: #F0F0F0;color:rgba(43,43,43,0.6);text-align: center;line-height: 40px;margin: 17px 0px 0px 0px;font-size:15px;margin-left:14px;}
.dropdown.az-profile-menu  .dropdown-toggle::after {border-top: .4em solid;border-right: .4em solid transparent;border-bottom: 0;border-left: .4em solid transparent;}
.az-profile-menu .dropdown-menu {padding-top: 20px;position: absolute;top: 56px;left: auto;right: -10px;bottom: auto;width: 230px;border-color: #cdd4e0;border-width: 2px;}
.az-header-profile{color:rgba(43,43,43,0.9);font-size: 12px;text-align: right;}
.az-header-profile h6{margin:0px;font-size: 15px;color:rgba(43,43,43,1);line-height: 18px;}
#dropdownMenu2 {background: none;border: none;padding: 0px;position: relative;top: -21px;right: -41px;color: #2B2B2B;}
.btn-secondary.focus, .btn-secondary:focus,.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus{box-shadow: none;}
.content-wrapper{padding: 0px 0px 0px 56px;}
.card-body{display: flex;padding:16px 20px;display: flex;
flex-direction: column;
flex-direction: column;}
.title{font-size:18px;font-weight:bold;color:#606060;padding-top:30px;line-height: 21px;margin-bottom: 10px;}
.card p.small-text{font-size: 13px;color: #606060;margin: 0px;text-transform: capitalize;line-height: 16px;font-family: normal;font-family: 'aileronregular';}
.card{border:none;border-radius:none;padding:0px;margin:0px 0px 15px 0px;/*min-width: 235px;*/}
.board-cardlist .col-md-12.col-sm-6.col-md-6.col-xl-4 {padding-right: 0px;}
.leftcontent.col-md-7{flex: 0 0 62.333%;-ms-flex: 0 0 64.333%;max-width: 64.333%;}
.budget {background:url('../images/triangle.png') no-repeat 0px center #fff;min-height: 102px;padding:17px 23px;display: flex; }
.budget .title{padding:0px;float: left;width: 145px;margin-right: 65px;margin-bottom:0px;}
.budget .title span{display: block;font-size:12px;color:rgba(120,132,150,0.8);font-weight: normal;}
.budget ul{display: flex;justify-content: space-around;margin: 0px;padding: 0px;flex-direction: row;flex: 1;}
.budget ul li{border-right: 1px solid rgba(0,0,0,0.1);padding:4px 8px;text-align: center;display: flex;flex-grow: 1;flex-direction: column}
.budget ul li:nth-child(3){border-right:none;}
.budget ul li .icon-Group98::before{font-size: 37px;color:rgba(190 ,190 ,190 ,0.5);}
.budget ul li:last-child{border-right:none;color: #ccc;align-self: center;}
.budget ul li h3{margin:0px;font-size: 26px; font-family: 'aileronbold';line-height: 31px;}
.budget ul li span{font-size:11px;color:#606060;width: 75%;margin: auto;}
.orangetext{color:#FF8E4C;}
.purpletxt{color:#887AA8;}
.greentext{color:#81CAA6;}


/*******rightcontent*************/
.rightcontent{top: 57px;right: 0px;position: fixed;text-align:right;}
.organizationcontent{color:#fff;}
.rightcontent svg{position: relative;}
.organizationcontent {color: #fff;position: absolute;top: 77px;right: 20px;}
.map{width: 100%;height: 100%;}
.organizationtitle{margin-top: 5px; position: absolute;right: 10px;}
.organizationtitle h2{color: #fff;font-size:1.563vw;font-weight: bold;margin: 0 auto;text-align: right;margin: 0px;}
.organizationtitle .digits{color:#fff;font-size:6.563vw;font-family: 'aileronultralight';margin-right: 13px;margin: 0px;}
.organizationcontent .map img {max-width: 100%; position: relative;}
.maplocation .dots {width: 7px;height: 7px;background: #fff;display: block;position: absolute;left: 0;top: 0;border-radius: 50%;}
.maplocation .dots.mbrrb.tooltip{left: 9px;top: 58px;}
.maplocation .dots.mhadb.tooltip {left: 0px;top: 63px;}
.maplocation .dots.msib.tooltip {left: 11px;top: 66px;}
.maplocation .dots.ahadb.tooltip{right: 43%;top: 31px;left: auto;}
.maplocation .dots.phadb.tooltip{left: 23px;top: 71px;}
.maplocation .dots.khadb.tooltip{left: 12px;bottom: 34px;top: auto;}
.maplocation .dots.nhadb.tooltip{left: 23px;top: 39px;}
.maplocation .dots.ahadb.tooltip{left: 43px;top: 48px;}
.maplocation .dots.nhadb1.tooltip{right: 25%;top: 26px;left: auto;}
.maplocation .dots.tooltip{opacity:1;}
.maplocation .dots.tooltip .tooltiptext h5{ font-size: 12px;color: #788496;font-family: 'aileronbold';margin-bottom: 0px;}
.maplocation .dots.tooltip .tooltiptext img{width: 45px;height: 25px;}
.tooltiptext{width: 150px;background-color: #fff;color: #000;text-align: center;border-radius: 6px;padding: 7px 10px;position: absolute; z-index: 1;bottom: 45px; left: 50%; opacity: 0;-webkit-transition: opacity 1s; transition: opacity 1s;white-space: nowrap;font-size: 16px;display: flex;justify-content: space-between;align-items: center;    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;}
.tooltiptext::before { content: "";width: 0px;height: 0px;position: absolute;border-right: 0px solid transparent;border-left: 15px solid #fff;border-top: 0px solid #fff;border-bottom: 43px solid transparent;left: auto;right:60px;top:100%;}
.maplocation .tooltip:hover .tooltiptext { visibility: visible;opacity: 1;}
