<div class="container-fluid">
  <!--sidebar start-->

  <div class="row" *ngIf="isLoggedIn">
    <div class="sidebar shadow d-md-block bg-light sidebar">
      <a id="menu-action" (click)="sidebarActive()">
        <i class="fa fa-bars"></i>
      </a>
      <ul>
          <!--activeBoardId{{activeBoardId}}-->
        <li *ngFor="let board of boardsnav" >
            <!--[routerLink]="['/projects/',board.id]"-->
            <a href='/projects/{{board.id}}' [ngClass]="(board.id==activeBoardId)?'active':''">
                <img style="margin-left: 7px;" width="40px" height="30px" src="{{ board.icon_url }}"><span></span>
            </a>
        </li>
      </ul>
    </div>
    <!--sidebar end-->
  </div>
</div>
