<!--sidebar start -->
<div class="row">
  <div class="sidebar shadow d-md-block bg-light sidebar" [ngClass]="sidebarStatus ? 'active hovered' : ''">
     <a href="#" id="menu-action" (click)="sidebarActive()" [ngClass]="sidebarStatus ? 'active' : ''">
      <i class="fa fa-bars"></i>
    </a>
    <ul>
      <li class="active"><a href="#"><i class="icon-dashboard"></i><span>Desktop</span></a></li>
      <li><a href="#"><i class="icon-Projects"></i><span>Projects</span></a></li>
      <li><a href="#"><i class="icon-applications"></i><span>Applications</span></a></li>
      <li><a href="#"><i class="icon-cost"></i><span>Financial</span></a></li>
      <li><a href="#"><i class="icon-list"></i><span>List</span></a></li>
      <li><a href="#"><i class="icon-setting"></i><span>Setting</span></a></li>
      </ul>
    </div>
<!--sidebar end -->
</div>
