<!--budget start-->
<div class="budget">
  <div class="title">
    Total Financial Budget
    <span>Till date 11th Sept, 2019</span>
  </div>
  <ul>
    <li>
      <h3 class="numbers orangetext">120 Cr</h3><span>Total Budget Alloted</span>
    </li>
    <li>
      <h3 class="numbers purpletxt">78.8 Cr</h3><span>Total Expenses</span>
    </li>

    <li>
      <h3 class="numbers greentext">120 Cr</h3><span>Total Budget Alloted</span>
    </li>
    <li><i class="icon-cost"></i></li>
  </ul>

</div>
<!--budget end-->
