<!--header start-->
<header class="shadow">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-6 logo">
       <a [routerLink] = "['/boards']"><img src="assets/images/logo.jpg" alt="logo"></a>
       </div>
       <div class="col-md-6 col-6">
        <!--rightmenu-->
        <div class="dropdown az-profile-menu">
      <div class="az-header-profile ">
        <span>Namaste,</span>
            <h6>Admin User</h6>
             </div><!-- az-header-profile -->
               <div class="dropdown">

                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    AU
                  </button>
                  <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                    <div class="az-dropdown-header d-sm-none">
                        <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                    </div>
               <!-- <a class="dropdown-item"><i class="fa fa-user"></i><span>My Profile</span></a>
                    <a class="dropdown-item"><i class="fa fa-pencil-square-o"></i><span>Edit Profile</span></a> -->
                    <a (click)="loggout()" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Sign Out</span></a>
                  </div>
                </div>
              </div>
        <!--rightmenu-->
      </div>
    </div>
  </div>
</header>
<!--header end-->
