<div class="main">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <!--leftcontent start-->
      <div class="left col-md-8 p-0">
        <!--budget start-->
        <app-finance-detail></app-finance-detail>
        <!--budget end-->
        <!--projectlist start-->
        <div class="row mt-3 projectlist">
          <!--projectinnerdetails start-->
          <div *ngFor="let project of projects" class="col-md-12">
            <a  [routerLink]="project.has_modules?['/modules',project.id]:['/dashboard']" [state]="{url:project.project_url}">
              <div class="projectinnerdetails">
                <div class="d-flex col-md-12 align-items-center p-0">
                  <div class="form-check">
                    <!-- <label class="container">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label> -->
                    <img src="{{project.icon}}" alt="" style="width:35px;">
                  </div>
                  <div class="projectlistDetails col-md-11">
                    <div class="projectid">
                      <!-- <span class="projectidtxt">#ProjectID</span> -->
                      <!-- <span class="departmentname montecarlobg">{{project.name}}</span> -->
                    </div>
                    {{project.description}}
                  </div>
                  <div class="module">
                    <!-- <span class="modulenumber">{{project.modules_count}}</span>
                    <h4>Modules</h4> -->
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--projectlist end-->
          <!--projectinnerdetails start-->
          <!-- <div class="col-md-12">
            <a [routerLink]="['/modules']">
              <div class="projectinnerdetails">
                <div class="d-flex col-md-12 align-items-center p-0">
                  <div class="form-check">
                    <label class="container">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="projectlistDetails col-md-11">
                    <div class="projectid">
                      <span class="projectidtxt">#ProjectID</span>
                      <span class="departmentname tropicalbluebg">DEPARTMENT NAME</span>
                    </div>
                    <h3>MBD - Lorem ipsum</h3>
                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum….</p>
                  </div>
                  <div class="module">
                    <span class="modulenumber">06</span>
                    <h4>Modules</h4>
                  </div>
                </div>
              </div>
            </a>
          </div> -->
          <!--projectlist end-->
          <!--projectinnerdetails start-->
          <!-- <div class="col-md-12">
            <a [routerLink]="['/modules']">
              <div class="projectinnerdetails">
                <div class="d-flex col-md-12 align-items-center p-0">
                  <div class="form-check">
                    <label class="container">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="projectlistDetails col-md-11">
                    <div class="projectid">
                      <span class="projectidtxt">#ProjectID</span>
                      <span class="departmentname caramelbg">DEPARTMENT NAME</span>
                    </div>
                    <h3>MBD - Lorem ipsum</h3>
                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum….</p>
                  </div>
                  <div class="module">
                    <span class="modulenumber">06</span>
                    <h4>Modules</h4>
                  </div>
                </div>
              </div>
            </a>
          </div> -->
          <!--projectlist end-->
          <!--projectinnerdetails start-->
          <!-- <div class="col-md-12">
            <a [routerLink]="['/modules']">
              <div class="projectinnerdetails">
                <div class="d-flex col-md-12 align-items-center p-0">
                  <div class="form-check">
                    <label class="container">
                      <input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="projectlistDetails col-md-11">
                    <div class="projectid">
                      <span class="projectidtxt">#ProjectID</span>
                      <span class="departmentname pinkbg">DEPARTMENT NAME</span>
                    </div>
                    <h3>MBD - Lorem ipsum</h3>
                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum….</p>
                  </div>
                  <div class="module">
                    <span class="modulenumber">06</span>
                    <h4>Modules</h4>
                  </div>
                </div>
              </div>
            </a>
          </div> -->
          <!--projectlist end-->
        </div>
      </div>
    </div>
    <!--leftcontent end-->
    <!--rightcontent start-->
    <div class="rightcontent col-md-4 p-0">
      <app-svg></app-svg>
      <!--organizationcontent start-->
      <div class="organizationcontent">
        <div class="map">
          <img src="{{selected_board.large_icon}}" alt="" class="whitecoloricon">
        </div>
        <div class="organizationtitle mt-5">
          <!-- <div class="digits">{{ (selected_board_id == 1 || selected_board_id == 2 )? 1 : (selected_board_id == 3 ? 2 :0) }}</div> -->
          <!-- <div class="digits"> {{projects!==undefined?projects.length:''}}</div> -->
          <h2 *ngIf="selected_board_id == 1"> Authority </h2>
          <h2 *ngIf="selected_board_id == 2">Mumbai Board </h2>
          <h2 *ngIf="selected_board_id == 3">MBRR Board </h2>
          <h2 *ngIf="selected_board_id == 4">Amaravati Board </h2>
          <h2 *ngIf="selected_board_id == 5">Slum Board </h2>
          <h2 *ngIf="selected_board_id == 6">Konkan Board </h2>
          <h2 *ngIf="selected_board_id == 7">Pune Board </h2>
          <h2 *ngIf="selected_board_id == 8">Nagpur Board </h2>
          <h2 *ngIf="selected_board_id == 9">Aurangabad Board </h2>
          <h2 *ngIf="selected_board_id == 10">Nashik Board </h2>
        </div>
      </div>
      <!--organizationcontent end-->
    </div>
    <!--rightcontent end-->
  </div>
</div>
